/*	variables		*/
$color-bg: #000;
$color-animate-loader: #4973ff;

body {
  margin: 0;
  padding: 0;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $color-bg;
	z-index: 998;
	transition: 1s all;
	opacity: 1;
	visibility: visible;

	&.done {
		opacity: 0;
		visibility: hidden;
		// display: nonrele;
	}

}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border: 5px solid $color-bg;
  box-shadow: 0 0 0 5px $color-animate-loader;
  border-radius: 50%;
  overflow: hidden;
	z-index: 999;	
	transition: 1s all;
	opacity: 1;
	visibility: visible;

  .loader {
    position: relative;
    width: 100%;
    height: 100%;
    background: $color-animate-loader;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba($color-bg, 0.5);

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      border-radius: 45%;
			background: rgba($color-bg, 1);
			// background: red;
      animation: animate-loader 5s linear infinite;
    }

    &::after {
      border-radius: 40%;
      background: rgba($color-bg, 0.5);
      animation: animate-loader 5s linear infinite;
    }

    @keyframes animate-loader {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
        transform: translate(-50%, -105%) rotate(360deg);
      }
    }
	}
	
	.percent {
		color: $color-animate-loader;
		z-index: 1000;
		background: #fff;
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 2em;
	}
}